networks:
  fba_network:
    name: fba_network
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.10.10.0/24

volumes:
  # If you are a mysql user, change fba_postgres to fba_mysql
  fba_postgres:
    name: fba_postgres
  fba_redis:
    name: fba_redis
  fba_static:
    name: fba_static
  fba_static_upload:
    name: fba_static_upload
  fba_rabbitmq:
    name: fba_rabbitmq

services:
  fba_server:
    build:
      context: .
      dockerfile: Dockerfile
    image: fba_server:latest
    ports:
      - "8001:8001"
    container_name: fba_server
    restart: always
    # If you are a mysql user, change fba_postgres to fba_mysql
    depends_on:
      - fba_postgres
      - fba_redis
      - fba_celery
    volumes:
      - ./deploy/backend/docker-compose/.env.server:/fba/backend/.env
      - fba_static:/fba/backend/app/static
      - fba_static_upload:/fba/backend/static/upload
    networks:
      - fba_network
    # If you are a mysql user, change fba_postgres:5432 to fba_mysql:3306
    command:
      - bash
      - -c
      - |
        wait-for-it -s fba_postgres:5432 -s fba_redis:6379 -t 300
        supervisord -c /etc/supervisor/supervisord.conf
        supervisorctl restart

  fba_postgres:
    image: postgres:16
    ports:
      - "${DOCKER_POSTGRES_MAP_PORT:-5432}:5432"
    container_name: fba_postgres
    restart: always
    environment:
      POSTGRES_DB: fba
      POSTGRES_PASSWORD: 123456
      TZ: Asia/Shanghai
    volumes:
      - fba_postgres:/var/lib/postgresql/data
    networks:
      - fba_network

#  # If you are a mysql user, keep the fba_mysql container script and delete the fba_postgres container script
#  fba_mysql:
#    image: mysql:8.0.41
#    ports:
#      - "${DOCKER_MYSQL_MAP_PORT:-3306}:3306"
#    container_name: fba_mysql
#    restart: always
#    environment:
#      MYSQL_DATABASE: fba
#      MYSQL_ROOT_PASSWORD: 123456
#      TZ: Asia/Shanghai
#    volumes:
#      - fba_mysql:/var/lib/mysql
#    networks:
#      - fba_network
#    command:
#      --default-authentication-plugin=mysql_native_password
#      --character-set-server=utf8mb4
#      --collation-server=utf8mb4_general_ci
#      --lower_case_table_names=1

  fba_redis:
    image: redis
    ports:
      - "${DOCKER_REDIS_MAP_PORT:-6379}:6379"
    container_name: fba_redis
    restart: always
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - fba_redis:/data
    networks:
      - fba_network

  # [Backend only]
  # If you use this container, it means you only need to deploy the backend API service without frontend
  # This conflicts with the fba_ui container below, if you choose to use fba_ui container, you should comment out or delete the fba_nginx container script
  fba_nginx:
    image: nginx
    ports:
      - "8000:80"
    container_name: fba_nginx
    restart: always
    depends_on:
      - fba_server
    volumes:
      - ./deploy/backend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - fba_static:/www/fba_server/backend/static
      - fba_static_upload:/www/fba_server/backend/static/upload
    networks:
      - fba_network

#  # If server memory is less than 4GB, CPU less than four cores
#  # It is recommended to build this container separately through the frontend project or build locally
#  fba_ui:
#    build:
#      context: /root/fastapi_best_architecture_ui
#      dockerfile: Dockerfile
#    image: fba_ui:latest
#    ports:
#      - "80:80"
#      - "443:443"
#    container_name: fba_ui
#    restart: always
#    depends_on:
#      - fba_server
#    command:
#      - nginx
#      - -g
#      - daemon off;
#    volumes:
#      # nginx https conf
#      # When deploying via docker, you need to enable this configuration and ensure <path to certificate files mounted to container>
#      # matches the ssl certificate file path configuration in nginx conf. If you directly cp the ssl certificate files
#      # to the docker container, there's no need to mount certificate files, just comment out or delete them
#      # local_ssl_pem_path: Your server path for ssl pem certificate file, modify as needed
#      # local_ssl_key_path: Your server path for ssl key certificate file, modify as needed
#      # /etc/ssl/xxx.pem: Path to ssl pem certificate file mounted to container, modify as needed
#      # /etc/ssl/xxx.key: Path to ssl key certificate file mounted to container, modify as needed
#      - local_ssl_pem_path:/etc/ssl/xxx.pem
#      - local_ssl_key_path:/etc/ssl/xxx.key
#      - fba_static:/www/fba_server/backend/static
#      - fba_static_upload:/www/fba_server/backend/static/upload
#    networks:
#      - fba_network

  fba_rabbitmq:
    hostname: fba_rabbitmq
    image: rabbitmq:3.13.7
    ports:
      - "15672:15672"
      - "5672:5672"
    container_name: fba_rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - fba_rabbitmq:/var/lib/rabbitmq
    networks:
      - fba_network

  fba_celery:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - SERVER_TYPE=fba_celery
    image: fba_celery:latest
    ports:
      - "8555:8555"
    container_name: fba_celery
    restart: always
    depends_on:
      - fba_rabbitmq
    volumes:
      - ./deploy/backend/docker-compose/.env.server:/fba/backend/.env
    networks:
      - fba_network
    command:
      - bash
      - -c
      - |
        wait-for-it -s fba_rabbitmq:5672 -t 300
        supervisord -c /etc/supervisor/supervisord.conf
        supervisorctl restart
